<a href="https://colab.research.google.com/github/segravjf/python_practice/blob/main/rev_trends_online_vs_instore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Revenue trends for online vs in store

Given the table below, called 'orders', write code to show the average revenue by month by channel:



```
order_id	channel	  date	    month	revenue
1           online	  2018-09-01	09	  100

2	       online	  2018-09-03	09	  125

3	in_store	2018-10-11	10	200

4	in_store	2018-08-21  	08	80

5	online	2018-08-13	08	200
```

Your result should return the following in a structured table:


    
 Month | Channel | Avg. Revenue

In [1]:
## Import modules
import pandas as pd
import numpy as np

In [2]:
## Create dataset
order_id = [1,2,3,4,5]
channel = ['online','online','in_store','in_store','online']
date = ['2018-09-01','2018-09-03','2018-10-11','2018-08-21','2018-08-13']
month = ['09','09','10','08','08']
revenue = [100, 125, 200, 80, 200]

orders = pd.DataFrame({
    'order_id': order_id,
    'channel': channel,
    'date': date,
    'month': month,
    'revenue': revenue
})

orders

   order_id   channel        date month  revenue
0         1    online  2018-09-01    09      100
1         2    online  2018-09-03    09      125
2         3  in_store  2018-10-11    10      200
3         4  in_store  2018-08-21    08       80
4         5    online  2018-08-13    08      200

In [3]:
## Agg up to month-channel and then get avg revenue
monthly = orders.groupby(['month','channel'])['revenue'].mean().reset_index()

monthly.sort_values(by=['month','channel'], ascending = True)

  month   channel  revenue
0    08  in_store     80.0
1    08    online    200.0
2    09    online    112.5
3    10  in_store    200.0