<a href="https://colab.research.google.com/github/segravjf/python_practice/blob/main/triplets_sum_zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Triplets that sum to zero

Given an array of n distinct elements, can you find all the triplet combinations that sum to zero?


For example:




Input: [0, -1, 2, -3, 1]


Output:


0 -1 1


2 -3 1





Input: [1, -2, 1, 0, 5]


Output: 1 -2  1

In [38]:
## demo this locally
results = []
arr = [0,-1,2,-3,1]

for i in arr:
  for j in arr:
    for k in arr:
      if arr.index(i) != arr.index(j) and arr.index(j) != arr.index(k) and arr.index(i) != arr.index(k):
        if i + j + k == 0:
          lst = [i,j,k]
          if sorted(lst) not in results:
            results.append(sorted(lst))

print(results)

[[-1, 0, 1], [-3, 1, 2]]

In [49]:
## Build it as a function
def triplets_sum_zero(arr):
  results = []
  rn = range(len(arr))

  for i in rn:
    for j in rn:
      for k in rn:
        if rn.index(i) != rn.index(j) and rn.index(j) != rn.index(k) and rn.index(i) != rn.index(k):
          if arr[i] + arr[j] + arr[k] == 0:
            lst = [arr[i],arr[j],arr[k]]
            if sorted(lst) not in results:
              results.append(sorted(lst))
  return results

In [50]:
tst = triplets_sum_zero([1,-2,1,0,5])
print(tst)

[[-2, 1, 1]]

In [51]:
arr2 = [0,-1,2,-3,1]
tst = triplets_sum_zero(arr2)
print(tst)

[[-1, 0, 1], [-3, 1, 2]]